
.rvrp-edit-link {
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	font-weight: var(--body-font-weight-bold);
	font-size: var(--font-size-xs);
	font-family: var(--body-font-family);
	letter-spacing: 1px;
	white-space: nowrap;
	text-transform: uppercase;
}

.entry-image__edit,
.rvrp-avatar__edit {
	position: absolute;
	display: flex;
	flex-direction: column;
	padding: var(--spacing-sm) var(--spacing-lg);
	color: white;
	text-align: center;
}

.rvrp-profile__edit {
	position: absolute;
	top: calc(100% + var(--spacing-xs));
	right: 0;
	display: block;
	text-align: end;
}

@media (hover: none) {

	/* Hide icons. */
	.entry-image__edit .mai-icon,
	.rvrp-avatar__edit .mai-icon {
		display: none !important;
	}

	.entry-image__edit,
	.rvrp-avatar__edit {
		background: rgba(0, 0, 0, 0.75);
	}

	.entry-image__edit {
		top: 0;
		right: 0;
		align-items: flex-end;
		justify-content: flex-end;
		border-radius: 0 0 0 var(--border-radius);
	}

	.rvrp-avatar__edit {
		bottom: 0;
		left: 0;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		border-radius: 0;
	}
}

@media (hover: hover) {

	.entry-image__edit,
	.rvrp-avatar__edit {
		top: 0;
		left: 0;
		justify-content: center;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		opacity: 0;
	}

	.entry-image__edit:hover,
	.entry-image__edit:focus,
	.rvrp-avatar__edit:hover,
	.rvrp-avatar__edit:focus {
		color: white;
		background: rgba(0, 0, 0, 0.75);
		border-radius: inherit;
		opacity: 1;
	}
}

/* Mai Popups styling */

#mai-popup-banner,
#mai-popup-avatar {
	text-align: center;
}

.rvrp-popup {
	--mai-popup-padding: var(--spacing-xxl) 0 0;
}

.rvrp-popup .acf-fields {
	padding: 0 var(--spacing-xl);
}

.rvrp-popup .acf-form-submit {
	padding: var(--spacing-xl);
	background: var(--color-alt);
}

/* ACF specific fields */

.acf-field-image:not(.acf-field-rvrp-renovation-featured-image-id) .acf-label {
	display: none;
}

.acf-field-image:not(.acf-field-rvrp-renovation-featured-image-id) .acf-image-uploader {
	display: grid;
	place-items: center;
}

.acf-image-uploader .acf-actions {
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	position: absolute !important;
	top: unset !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
}

.acf-image-uploader img[src=""] {
	display: none !important;
}

.acf-image-uploader img:not([src=""]) ~ .acf-actions {
	display: block !important;
}

.acf-image-uploader .acf-icon.-pencil {
	display: none !important;
	text-decoration: none !important;
}

.acf-image-uploader .acf-icon.-cancel {
	display: block !important;
	width: 100% !important;
	height: 100% !important;
	overflow: hidden !important;
	text-decoration: none !important;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 0 !important;
}

.acf-image-uploader .acf-icon.-cancel::before {
	display: block !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	padding: var(--spacing-md) var(--spacing-lg);
	font-weight: var(--body-font-weight-bold);
	font-size: var(--font-size-sm);
	font-family: var(--body-font-family);
	letter-spacing: 1px;
	text-transform: uppercase;
	content: "Remove";
}

.acf-image-uploader .acf-icon:hover,
.acf-image-uploader .acf-icon:focus {
	color: white !important;
	background: rgba(0, 0, 0, 0.75) !important;
}

.acf-image-uploader .image-wrap {
	position: relative !important;
	display: flex !important;
	flex-direction: column !important;
	float: none !important;
	margin: auto !important;
}

#menu-item-upload {
	color: initial;
}

.acf-field-rvrp-post-featured-image-id .image-wrap {
	overflow: hidden;
	border-radius: var(--border-radius);
}

.acf-field-rvrp-avatar-id .image-wrap {
	overflow: hidden;
	border-radius: 9999px;
}

/* End ACF */

.rvrp-renovation-table {
	--table-header-background-color: var(--color-white);
	background: var(--color-white);
}
