.entry-image-single {
	position: relative;
	overflow: hidden;
	border-radius: var(--border-radius);
}

.rvrp-avatar {
	position: relative;
	display: block;
	max-width: 200px;
	margin: var(--rvrp-avatar-margin-top, 0) auto var(--spacing-lg);
	overflow: hidden;
	text-align: center;
	border: 6px solid white;
	border-radius: 9999px;
}

.entry-image-single + .rvrp-avatar {
	--rvrp-avatar-margin-top: -150px;
}

.rvrp-avatar__image {
	display: block;
	width: 100%;
}

.entry-title-single {
	position: relative;
	display: flex;
	gap: var(--spacing-xs);
	align-items: center;
	justify-content: center;
	margin: 0 auto var(--spacing-xl);
	text-align: center;
}

.rvrp-columns {
	display: flex;
	gap: var(--spacing-lg);
}

.rvrp-column {
	flex: 1;
}

.rvrp-general {
	padding-bottom: var(--spacing-xl);
	text-align: center;
	border-bottom: 1px solid var(--color-body);
}

.rvrp-general h2 {
	font-size: var(--font-size-md);
}

.mai-gallery-item,
.gslide-image {
	overflow: hidden;
	border-radius: var(--border-radius);
}

.rvrp-edit-link {
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	font-weight: var(--body-font-weight-bold);
	font-size: var(--font-size-xs);
	font-family: var(--body-font-family);
	letter-spacing: 1px;
	white-space: nowrap;
	text-align: center;
	text-transform: uppercase;
}
